<form [formGroup]="form" (ngSubmit)="submit()">

  <mat-form-field appearance="fill">
    <mat-label>Страна</mat-label>
    <mat-select matInput formControlName="country" (selectionChange)="onCountryChanged($event.value)">
      <mat-option *ngFor="let country of countries" [value]="country.uid">
        {{country.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Город</mat-label>
    <mat-select matInput formControlName="city">
      <mat-option *ngFor="let city of cities" [value]="city.uid">
        {{city.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Даты проживания</mat-label>
    <mat-date-range-input [rangePicker]="picker" [min]="minDate">
      <input matStartDate placeholder="Приезд" formControlName="dateFrom" autocomplete="off">
      <input matEndDate placeholder="Выезд" formControlName="dateTo" autocomplete="off">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Число гостей</mat-label>
    <input matInput type="number" formControlName="guestNumber" autocomplete="off" [min]="1" [max]="4">
  </mat-form-field>

  <button mat-flat-button color="primary">Найти</button>
</form>